# Basic Python Review

## 1. For Loops
a. Write a for loop that iterates a variable x from values 0 to 10 and prints x after each iteration.

In [10]:
# for x in ... :
for x in range(11):
 print(x)

0
1
2
3
4
5
6
7
8
9
10

b. Write a for loop that iterates a vector < i , j > = < 1, 7 > with i increasing by 2 each iteration and j decreasing by 1 each iteration until i = j.

In [17]:
# for i,j in ... :
i,j = 1,7
for i in range(8):
  i += 2
  j -= 1
  if j == i:
    print ("I ="+ str(i) + " J ="+ str(j))

I =4 J =4

## 2. While Loops
a. Write a while loop that squares a variable z, initialized at 1, until z is greater then 70.

In [23]:
z = 1
while z < 71:
  z = z**2
  print(z)
  z = z+1

1
4
25
676

b. Write a while loop that returns the following:

1010101

 10101

  101  

   1

In [30]:
i = 0
j = str(1010101)
x = len(j)
while i < 4:
   print (j[:x])
   x -= 2
   i += 1

1010101
10101
101
1

## 3. Functions
a. Write a function that calculates the area of a Domino's pizza given a diameter, _d_. (Use 3.14 for pi)

In [34]:
def area_pizza(d):
  r = (d/2)**2
  area = r *3.14
  print(str(area))

b. Call the function to compute the area of a large Domino's pizza (large Domino's pizza have a diameter of 14 inches).

In [35]:
area_pizza(14)

153.86

## 4. Classes
a. Define a class _cats_ with attributes name, age, and breed.
Add an _init_ method that creates an empty list, _toys_. Create a method _pet_, which prints the phrase 'Purrr'. Create another method _info_, which returns the cats name, age, and breed.

In [42]:
class Cats:

   def __init__(cat,name,age,breed):
     cat.name = name
     cat.age = age
     cat.breed = breed
     cat.toys = []

   def pet(cat):
    print("Purr")

   def info(cat):
    print("NAME:"+cat.name+"\nAGE:"+cat.age + "\nBREED:"+cat.breed)

b. Create an instance of the class _cats_ with name 'Garfield', age 3, and breed 'Munchkin'.

In [43]:
cat1 = Cats("Garfield","3", "Munchkin")

Call the method *pet* on the instance.

In [44]:
cat1.pet()

Purr

Call the method info on the instance.

In [45]:
cat1.info()

NAME:Garfield
AGE:3
BREED:Munchkin